*
!backend/
!backend/**
!docs/
!docs/specs/
!docs/specs/**
!.github/
!.github/workflows/
!.github/workflows/verify.yml
!.github/workflows/release.yml
!tools/
!tools/release/
!tools/release/validate_version.py
!windows/
!windows/pubspec.yaml
!LICENSE
!THIRD_PARTY_NOTICES.md
backend/secrets/
backend/.pytest_cache/
backend/**/__pycache__/
backend/**/*.pyc
